@import "tailwindcss";


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus, 
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #F7F7F7 inset !important;
  -webkit-text-fill-color: #658F8D !important;
  transition: background-color 5000s ease-in-out 0s;
}