.container {
    width: 300px;
    margin: 50px auto;
    text-align: left;
}

.inputGroup {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.loginButton {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.loginButton:hover {
    background-color: #218838;
}

.error {
    color: red;
}